<app>

  <y class="h-screen w-screen flex">

    <y class="w-1/3 bg-nero-600">

      <image-logo
        width="w-24"
        height="h-24"
        title="Performance-X">
      </image-logo>

    </y>

    <y class="w-2/3 bg-nero-500">

      <y class="h-screen flex flex-col justify-center items-center">

        <text-title
          size="text-4xl"
          text="Options">
        </text-title>

        <core-settings></core-settings>

      </y>

    </y>




  </y>


  <style>
    .text-light-green {
      color: #b2ff00;
    }
  </style>

</app>